In [1]:
import random

In [2]:
import pandas as pd

In [3]:
lst = ['robot'] * 10

In [4]:
lst += ['human'] * 10

In [5]:
random.shuffle(lst)

In [6]:
data = pd.DataFrame({'whoAmI':lst})

In [7]:
data['tmp'] = 1

In [8]:
data.set_index([data.index, 'whoAmI'], inplace=True)

In [9]:
data = data.unstack(level=-1, fill_value = 0).astype(int)

In [10]:
data.columns = data.columns.droplevel()

In [11]:
data.columns.name = None
data.head()

   human  robot
0      1      0
1      1      0
2      0      1
3      1      0
4      0      1